<div class="flex justify-between">
  <div class="flex space-x-4">
    <button
      [ngClass]="{ active: selectedFilter === TODO_STATUS.ALL }"
      (click)="onChangeFilter.emit(TODO_STATUS.ALL)"
    >
      All ({{ counts.totalCount }})
    </button>
    <button
      [ngClass]="{ active: selectedFilter === TODO_STATUS.ACTIVE }"
      (click)="onChangeFilter.emit(TODO_STATUS.ACTIVE)"
    >
      Pending ({{ counts.incompletedCount }})
    </button>
    <button
      [ngClass]="{ active: selectedFilter === TODO_STATUS.COMPLETED }"
      (click)="onChangeFilter.emit(TODO_STATUS.COMPLETED)"
    >
      Done ({{ counts.completedCount }})
    </button>
  </div>
  <div>
    <button class="danger" (click)="onClear.emit()">Clear</button>
  </div>
</div>
