<app-wrapper>
  <ng-container editor>
    <app-composer (onCreateNewTask)="todoService.addTodo($event)">
      <app-controls
        [counts]="todoService.todosCounts"
        (onChangeFilter)="todoService.selectedFilter = $event"
        [selectedFilter]="todoService.selectedFilter"
        (onClear)="todoService.clearCompleted()"
      ></app-controls>
    </app-composer>
  </ng-container>

  <app-todo
    *ngFor="let todo of todoService.filteredTodos"
    [todo]="todo"
  ></app-todo>
</app-wrapper>
